/* Estilos para o corpo da página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/Calculadora.jpg'); /* Substitua 'sua-imagem.jpg' pelo nome real da sua imagem */
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;

}
html, body {
    height: 100%;
}
.background img {
    margin: 0;
    height: 100%;
}
.background{
    height: 100%;
    overflow-x: hidden; /* Impede a rolagem horizontal */
    overflow-y: hidden; /* Impede a rolagem vertical */
}
/* Estilos para dispositivos móveis com largura máxima de 600 pixels */
@media (max-width: 600px) {
    html, body {
        overflow: hidden;
        height: 100%;
    }

    .main-container {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .envolve.texto h1 {
        font-size: 30px; /* Reduza o tamanho da fonte para dispositivos móveis */
    }

    .animated-button {
        font-size: 16px; /* Reduza o tamanho dos botões para dispositivos móveis */
        padding: 8px 16px;
    }

    /* Outros estilos específicos para dispositivos móveis */
}

/* Estilos para dispositivos desktop */
@media (min-width: 601px) {
    /* Centraliza o texto "Calculadora Comercial" horizontalmente */
    .envolve.texto, .centered-buttons {
        text-align: center;
    }

    /* Centraliza os botões horizontalmente */
    .centered-buttons {
        text-align: center;
    }

    /* Outros estilos específicos para desktops */

    /* Estilos para o rodapé no desktop */
    .footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Exemplo de CSS para aplicar a fonte a todos os parágrafos */
h1{
    ;
    font-family: 'Tilt Neon', cursive;
}
.envolve.texto {

    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.envolve.texto h1 {
    font-size: 50px; /* Ajuste o tamanho da fonte conforme desejado */
    font-weight: bold; /* Coloca o texto em negrito */
}


/* Estilos para os botões no centro da tela */
.centered-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -900px;
}

/* Estilos para os botões animados */
.animated-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 31px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
@media (max-width: 600px) {
    .footer {
        width: 100%;
        margin-left: 0;
        bottom: 0;
        position: fixed;
    }
}

.animated-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
/* Estilos para o rodapé */
.footer {
    text-align: center;
    position: absolute;
    bottom: 17px;
    width: 100%;
}
