/* Apply a reset to remove default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a base font size for better readability */
  html {
    font-size: 16px;
  }
  
  /* Apply general styles */
body {
  font-family: Arial, sans-serif;
  line-height: 2.6;
  width:100vw;
}
  /* Style the header */
.header{
  border: red 1px solid;
  height: 10%;
  width: 100vw;
  padding: 3px;
}
#texth2{
  margin-top: 40px;
  }
  /* Posicionar o botão de ajuda no canto superior esquerdo */
.inicio {
  position: absolute;
  left: 30px;
  padding: 1px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  text-decoration: none;
}

/* Posicionar o link de início no canto superior direito */
.help-button {
  position: absolute;
  
  right: 35px;
  padding: 10px;
  background-color: #232323;
  color: #fff;
  text-decoration: none;
  width: 95px;
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
  
  /* Style the form elements */
input[type="text"],
input[type="number"],
select,
button {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  /* Style the buttons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
}
#corbutton{
  background: red;
  padding: 5px;
}
.formulario{
  text-align: center;
  border: red solid 3px;
}


  /* Style the results div */
  #results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
/*  botão de ajuda */


/* Apply responsive styles to different screen sizes */
@media only screen and (max-width: 768px) {
  /* Adjust font sizes and spacing for smaller screens */
  html {
    font-size: 14px;
  }
  
  /* Center align text */
  body, h1, h2, p, label, input, select, button {
    text-align: center;
  }
  
/* Estilo para tornar a tabela responsiva */
#tabela1 {
  width: 100%;
  overflow-x: auto; /* Habilita rolagem horizontal em telas menores */
}

/* Estilos para as células da tabela */
#tabela1 th,
#tabela1 td {
  text-align: left;
  
}

/* Defina larguras percentuais para as colunas */
#tabela1 th {
  width: 20%; /* Por exemplo, 20% para cada coluna de cabeçalho */
}

/* Estilo específico para a coluna "Ação" */
#tabela1 th:last-child,
#tabela1 td:last-child {
  width: 10%; /* Ajuste a largura conforme necessário */
}

/* Ajuste o estilo dos inputs e selects dentro das células */
#tabela1 input[type="text"],
#tabela1 input[type="number"],
#tabela1 select {
  width: 100%;
  box-sizing: border-box;
}
