@media screen and (max-width: 768px) {
    h1 {
        margin-top: 20px; /* Adicione margem superior para evitar sobreposição com o botão */
        text-align: center;
        font-size: 24px;
    }
}
/* Estilos para telas de tamanho pequeno (até 480px) */
@media screen and (max-width: 480px) {
    /* Ajuste estilos para elementos em telas pequenas */
    /* Exemplos: ajustes de fonte, margens, preenchimento, etc. */
}

/* Estilos para telas de tamanho médio (481px a 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Ajuste estilos para elementos em telas médias */
}

/* Estilos para telas de tamanho grande (acima de 768px) */
@media screen and (min-width: 769px) {
    /* Ajuste estilos para elementos em telas grandes */
}
    .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
/* Estilos para o cabeçalho */
.header {
    background-color: #3498db;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para o título h1 no cabeçalho */
.header h1 {
    color: white;
    margin-top: 10%;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000;
    font-size: 33px;
}

/* Estilos para o botão de ajuda no cabeçalho */
.header .help-button {
    padding: 5px 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


.category-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
/* Adicione estilo à linha divisória */
.category-column hr {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}
.help-button {
    position: fixed;
    top: 80px; /* Ajuste a posição vertical conforme necessário */
    right: 20px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.stored-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* Estilos para o rodapé */
.footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
    font-size: 14px;

}
.help-section {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.help-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color:#232323;
    color: #fff;
    border: none;
    cursor: pointer;
}

#markup{
  margin-left:3px ; 
}
#cost{
  margin-left:3px ; 
}
#product-name{
    margin-left: 3px;
    width: 50% !important;
}
.inicio {
    padding: 4px;
    color: #fff;
    text-decoration:none;
    margin-left: -182px;
    margin-top: -2px;
    position: absolute;
    border-radius: 5px;
    background-color: #2ecc71;
    width: 45px;
}
/* Animações suaves para os campos do formulário */
#calculator-form label,
#calculator-form input,
#add-button {
    transition: all 0.3s ease;
}

#calculator-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

#calculator-form input {
    width: 19%;
    padding: 9px;
    margin-bottom: 5px;
    border: 3px solid #CCE;
    border-radius: 19px;
}

#calculator-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#add-button {
    padding: 5px 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
}

#add-button:hover {
    background-color: #2ecc71;
}

/* Animações suaves para a tabela */
table {
    border-collapse: collapse;
    margin: 20px auto; /* Espaçamento da tabela e centralização */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

table th,
table td {
    padding: 10px 15px;
    border: 1px solid #ccc;
}

/* Animação de fade-in para a tabela */
table.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

table.fade-in.loaded {
    opacity: 1;
    transform: translateY(0);
}
